a{
    color: black;
}

p{
    margin-left: 15px;
}

.login-image
{
    margin-left: 70px;
    border-radius: 40%;
}

h5{
    text-align: center;
    cursor: pointer;
}
u:hover{
    color: black;
}

.placeholder{
    position: absolute;
    margin-top: -35px; 
    margin-left: 390px;
}

.placeholder:hover{
    cursor: pointer;
}

.input-placeholder {
  position: relative;

}