<div class="form-group">
    <input 
        [class.is-invalid]='ngControl.touched && ngControl.invalid'
        type={{type}}
        class="form-control" 
        [formControl]="ngControl.control"
        placeholder={{label}} 
    />
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
        Please Enter a {{label}}
    </div>
    <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
        {{label}} must be atleast {{ngControl.control.errors.minlength['requiredLength']}}
    </div>
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
        {{label}} must be atmost {{ngControl.control.errors.maxlength['requiredLength']}}
    </div>
    <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
        Password do not match
    </div>
</div>

<!-- To avoid [formControl] error 
dependending on how comfortable you are with your strictness, you could turn it off for
Angular templates by setting "strictTemplates to false" in your tsconfig.json
-->