<div class="card">
    <div class="card-body"  #scrollMe  [scrollTop]="scrollMe.scrollHeight">
        <div *ngIf="(messageService.messageThread$ | async )?.length === 0">
            <strong class="text-white">No messages yet... Say hi to begin the chat!</strong>  
        </div>

        <ul *ngIf="(messageService.messageThread$ | async )?.length > 0" class="chat">
            <li *ngFor="let message of (messageService.messageThread$ | async )">
                <div *ngIf="message.senderUsername==user.username">
                    <div class="chat-body">
                        <div style="border: 1px solid rgb(255, 250, 250);
                                    color: white;
                                    box-sizing: border-box;
                                    padding:10px;
                                    border-radius: 15px;
                                    margin-top: -3px;
                                    margin-left:300px;
                                    position: relative;
                                    max-width: 65%;
                                    min-height: 30px;
                                    height: auto;
                                    float: right;
                                    margin-right: 1%;
                                    clear: right; 
                                    background-color: #3a2ac5;
                                    display:table;">
                            {{message.content}} &nbsp;
                            <small class="text-bold float-right"> 
                                <span class="text-danger" 
                                        *ngIf = "!message.dateRead && message.senderUsername!==username">
                                    (sent {{message.messageSent | timeago }})
                                </span>
                                <span class="text-success" 
                                        *ngIf = "message.dateRead && message.senderUsername!==username">
                                    (seen {{message.dateRead | timeago }})
                                </span>
                            </small>
                        </div><br>
                    </div>
                </div><br>

                <div *ngIf="message.senderUsername!=user.username">
                    <span class="chat-img float-left"> 
                        <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}"
                                            alt="{{message.senderUsername}}">
                    </span>
                    <div class="chat-body ">
                        <div class="header">
                            <small class="text-secondary text-bold"> 
                                <span class="fa fa-clock">{{message.messageSent | timeago }}</span>
                                <span   class="text-danger" 
                                        *ngIf = "!message.dateRead && message.senderUsername!==username">
                                    (sent {{message.messageSent | timeago }}) 	
                                </span>
                                <span   class="text-success" 
                                        *ngIf = "message.dateRead && message.senderUsername!==username">
                                    (seen {{message.dateRead | timeago }})
                                </span>
                            </small>
                        </div>
                        <div style="border: 1px solid rgb(255, 250, 250);
                                    color: black;
                                    box-sizing: border-box;
                                    padding:10px;
                                    border-radius: 15px;
                                    margin-top: 3px;
                                    margin-left: 1%;
                                    position: relative;
                                    max-width: 65%;
                                    min-height: 30px;
                                    height: auto;
                                    background-color: #c74a89;
                                    display:table;">
                            {{message.content}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>   
    </div>
    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input
                    type="text" 
                    class="form-control input-sm"
                    name="messageContent"
                    required
                    [(ngModel)]="messageContent"
                    placeholder="Send a private message"
                >
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid || loading" class="btn btn-primary" type="submit">
                      Send
                      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </form>  
    </div>
</div>