<div>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark bg-gradient">
      <div class="container">
        <a class="navbar-brand"><img src="./assets/rb-logo.png" alt="">&nbsp;</a>
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Dating App</a>
          <!-- <ul class="navbar-nav mr-auto" *ngIf="service.currentUser$ | async"> -->
            <ul class="navbar-nav mr-auto">
              <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                  <a class="nav-link" routerLink='/members' routerLinkActive='active'>Matches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Likes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink='/messages' routerLinkActive='active'>Messages</a>
                </li>
              </ng-container>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink='/errors' routerLinkActive='active'>Errors</a>
              </li> -->
              
            </ul>

          <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img id="img" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}" >
            <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
              <a routerLink='/member/edit' class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>

          <div *ngIf="(accountService.currentUser$ | async) === null" >
            <button style="width: 200px;" routerLink='/login' class="btn btn-info  btn-lg mr-6" type="submit">
               Login
            </button>
          </div>

        </div>
  </nav>
</div>