<ngx-spinner>
    <h3>Loading....</h3>
</ngx-spinner>
<app-nav></app-nav>

<div class="container" style="margin-top: 100px">
    <router-outlet></router-outlet>
</div>

<!--My Learning-->

<!-- <div class="container mt-5">
    <app-displayuser> </app-displayuser>
</div> -->

<!-- <div class="container">
    <app-subject></app-subject>
</div>
<div class="container">
    <app-behaviour-subject></app-behaviour-subject>
</div>
<div class="container">
    <app-replay-subject></app-replay-subject>
</div>
<div class="container">
    <app-aync-subject></app-aync-subject>
</div> -->

<!-- <app-bootstrap></app-bootstrap> -->
<!-- <app-binding></app-binding> -->

<!-- <h1>{{message}}</h1>  -->
<!-- $ variable will give the access to the argument that was sent from the event-->
<!-- <app-angular-features (childEvent) = "message = $event" [parentData] = "name"></app-angular-features> -->

<!-- <app-tdf-forms></app-tdf-forms> -->
<!-- <app-reactive-forms></app-reactive-forms> -->