<app-nav></app-nav>

<div class="container" style="margin-top: 100px">
    <router-outlet></router-outlet>
</div>
<!-- <div class="container mt-5">
    <app-displayuser> </app-displayuser>
</div> -->
<!-- <div class="container">
    <app-subject></app-subject>
</div>
<div class="container">
    <app-behaviour-subject></app-behaviour-subject>
</div>
<div class="container">
    <app-replay-subject></app-replay-subject>
</div>
<div class="container">
    <app-aync-subject></app-aync-subject>
</div> -->