<!-- <ngx-spinner>  bdColor = "rgba(174,23,137,0.8)"
    <h3>Loading....</h3>
</ngx-spinner>
<app-nav></app-nav> 

<div class="container">
    <router-outlet></router-outlet>
</div>  -->



<!--Dating App Selectors-->
 <ngx-spinner bdColor = "rgb(253,38,125)" size = "medium" color = "#fff" type = "ball-fussion"
             [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
</ngx-spinner>
<router-outlet></router-outlet> 


<!--file upload-->
<!-- <app-file-upload></app-file-upload> -->



<!--My Learning-->

<!-- <app-dynamic-text></app-dynamic-text> -->

<!-- <div class="container mt-5">
    <app-displayuser> </app-displayuser>
</div> -->

<!-- <div class="container">
    <app-subject></app-subject>
</div>
<div class="container">
    <app-behaviour-subject></app-behaviour-subject>
</div>
<div class="container">
    <app-replay-subject></app-replay-subject>
</div>
<div class="container">
    <app-aync-subject></app-aync-subject>
</div> -->

<!-- <app-bootstrap></app-bootstrap> -->
<!-- <app-binding></app-binding> -->

<!-- <h1>{{message}}</h1>  -->
<!-- $ variable will give the access to the argument that was sent from the event-->
<!-- <app-angular-features (childEvent) = "welcome($event)"
                      [parentData] = "name">
</app-angular-features> -->

<!-- <app-tdf-forms></app-tdf-forms> -->
<!-- <app-reactive-forms></app-reactive-forms> -->

<!--Custom Directive-->
<!-- <app-displayuser></app-displayuser> -->

<!--Angular Routing--
routerLinkActiveOptions ==>select the routerlink whenever the url matched exactly
-->
<!-- <br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success" (click)="loginUser()">
                LogIn
            </button>
            <button class="btn btn-warning ml-3" (click)="logoutUser()">
                LogOut
            </button>
        </div>
    </div>
    
    <br>

    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" routerLink='home' routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact : true}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/users' routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact : true}">
                        Users
                    </a>
                </li>
                <li class="nav-item">
                  This also works url will be ==> /categories/something/id
                     <a [routerLink]="['/categories', 'something', 'id']">Categories 
                     <a class="nav-link" routerLink="/categories" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact : true}">
                        Categories
                    </a>
                </li>
            </ul>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>  -->
