<div [style.margin-top] = "marginDesign ? '100px' : '200px' ">
    <div class="container">
        <div *ngIf="!registerMode" style='text-align: center;'>
            <h1 class="theme">Find Your Love<span style="color:red;font-size: 100%;">&#10084;&#65039;</span></h1>
            <p class="lead">Come on in to view your matches...</p>
            <div class="text-center">
                <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">
                    Create Account
                </button>
            </div>
        </div>
        <div class="container" *ngIf="registerMode">
            <div class="row justify-content-center">
                <div clas="col-4">
                    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                </div>
            </div>
        </div>
    </div>
    
</div>
